
$color-1: #4aaaa5; /* Teal color (used for headings and backgrounds) */
$color-2: #777777; /* Paragraph and body text color */
$color-3: #666666; /* Footer background color */
$color-4: #cccccc; /* Main header border */
$color-5: #dddddd; /* Main content border */
$white: #ffffff;

$headings: 'Georgia', Times, Times New Roman, serif;
$paragraphs: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
$padding: 25px;

/* --------------------------------------------------------- */
/* General Styles */
/* --------------------------------------------------------- */

html {
    height: 100%;
    scroll-behavior: smooth;
    margin-left: calc(100vw - 100%);
  }

body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url("../images/memphis-mini.png");
    height: 100%;

}

h1, h2, h3, h4, h5, h6 {
    color: $color-1;
    font-family: $headings;
    border-bottom: 2px solid $color-4;
}

h1 {
    font-size: 48px;
    margin: 0 0 $padding 0;
    padding: 0 0 $padding 0;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 28px;
}

h4, h5, h6 {
    font-size: 18px;
}

p, a, li, label, input, textarea {
    font-family: $paragraphs;
    color: $color-2;
    font-size: 16px;
    line-height: 1.6;
}

p {
    margin: 0 0 10px 0;
}

img {
    max-width: 100%;
}

label, input {
    display: block;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    border: 1px solid $color-5;
    margin-bottom: $padding/2;    
    padding: 0 $padding/4;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: $color-1;
    color: $white;
    border: none;    
    padding: 10px $padding;
}

div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* --------------------------------------------------------- */
/* Overall Grid Structure */
/* --------------------------------------------------------- */
body {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    grid-template-columns:1fr;
    grid-template-areas:
               "nav"
              "section"
              "footer";
    
    grid-template-rows: auto 1fr auto;
  }

  nav {
    grid-area: nav;
    
  }

  section {
     grid-area: section;
     align-self: flex-start;
  }

  footer {
      grid-area: footer;
  }

/* --------------------------------------------------------- */
/* Navigation */
/* --------------------------------------------------------- */

nav {
    display: grid;
    grid-template-columns: auto 400px 560px auto;
    align-items: center;
    background-color: $white;
    margin: 0 0 $padding 0;
    border-bottom: 2px solid $color-4;
}

.nav-list {
    justify-self: end;
    li {
        list-style-type: none;
        display: inline;
        padding: 0 0 0 30px;  
        font-family: $headings;
        font-size: 18px;         
        a:link, a:active, a:visited {
            text-decoration: none;
            -webkit-transition: all .3s ease; /* Safari prior 6.1 */
            transition: all .3s ease;
        }
        a:hover {
            color: $color-1;
        }
    }
    li:last-child {
        border-right: 0px solid $color-2;
        padding: 0 30px 0 30px;
    }
}

.title {
    a:link, a:visited, a:active {
        font-family: $headings;
        color: $white;
        background-color: $color-1;
        display: inline-block;
        font-weight: bold;
        font-size: 36px;
        text-decoration: none;
        padding: 5px $padding;
    }    
}

/* --------------------------------------------------------- */
/* Body */
/* --------------------------------------------------------- */

section {
    display: grid;
    grid-template-columns: auto 960px auto;
    align-items: center;
}

.grid-item {
    background-color: $white;
    padding: $padding;
    border: 1px solid $color-5;
}

img.profile-pic {
    max-height: 250px;
    float: left;
    padding: 0 $padding $padding/2 0;
    position: relative;
}

/* --------------------------------------------------------- */
/* Portfolio Styles */
/* --------------------------------------------------------- */

.portfolio-container {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: $padding;
}
.portfolio-card {
    position: relative;
    h2 {
        border: none;
        color: $white;
        background-color: $color-1;
        text-align: center;
        font-size: 24px;
        padding: $padding / 2;
        position: absolute;
        bottom: 25px;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    a:link, a:visited, a:active {
        text-decoration: none;
        -webkit-transition: all .3s ease; /* Safari prior 6.1 */
        transition: all .3s ease;
    }
    a:hover {
        opacity: .5;
    }
}

/* --------------------------------------------------------- */
/* Footer */
/* --------------------------------------------------------- */

footer {
    margin: $padding 0 0 0;
    border-top: 5px solid $color-1;
    background-color: $color-3;
    text-align: center;
    p {
        color: $white;
        padding: $padding;
    }
}
